{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">

            <div class="card shadow border-0 rounded-4">
                <div class="card-header bg-white border-0">
                    <h3 class="text-center fw-bold">Register Account</h3>
                </div>

                <div class="card-body">

                    <form action="{% url 'register' %}" method="post">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {% for error in form.non_field_errors %}
                            <div>{{ error }}</div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if form.email.errors %}
                        <div class="alert alert-danger">
                            {% for error in form.email.errors %}
                            <div>{{ error }}</div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="mb-3">
                            <label>First Name</label>
                            {{ form.first_name }}
                        </div>

                        <div class="mb-3">
                            <label>Last Name</label>
                            {{ form.last_name }}
                        </div>

                        <div class="mb-3">
                            <label>Email</label>
                            {{ form.email }}
                            {% for error in form.email.errors %}
                            <div class="alert alert-danger invalid-feedback d-block">
                                {{ error }}
                            </div>
                            {% endfor %}
                        </div>

                        <div class="mb-3">
                            <label>Phone Number</label>
                            {{ form.phone_number }}
                        </div>

                        <div class="mb-3">
                            <label>Password</label>
                            {{ form.password }}
                        </div>

                        <div class="mb-4">
                            <label>Confirm Password</label>
                            {{ form.confirm_password }}
                        </div>
                                <div class="mb-3">
                            
                                    {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger invalid-feedback d-block">
                                        {{ error }}
                                    </div>
                                    {% endfor %}
                                </div>
                        <button class="btn w-100 text-white"
                            style="background: linear-gradient(to right, #4ade80, #60a5fa);">
                            Sign Up
                        </button>

                    </form>

                </div>

                <div class="card-footer bg-white text-center">
                    <small>Already have an account?
                        <a href="{% url 'login' %}">Login</a>
                    </small>
                </div>

            </div>

        </div>
    </div>
</div>

{% endblock content %}